version: 2.1

orbs:
  python: circleci/python@2.0.3
  aws-cli: circleci/aws-cli@1.2.1
  aws-s3: circleci/aws-s3@2.0

parameters:
  python-ci-image:
    type: string
    default: "858290205983.dkr.ecr.eu-west-2.amazonaws.com/circleci-devs:latest"

jobs:
  check-product-availability-unit-test:
    docker:
      - image: << pipeline.parameters.python-ci-image >>
      - image: circleci/mongo:4.4.12
    working_directory: ~/project/lambdas/check_product_availability
    steps:
      - checkout:
          path: ~/project
      - python/install-packages:
          args: '--with dev'
          pkg-manager: poetry
          pypi-cache: false
          venv-cache: false
      - run:
          name: Run tests
          command: poetry run pytest test --junit-xml=tests.xml
      - store_test_results:
          path: tests.xml

workflows:
  sample:
    jobs:
      - check-product-availability-unit-test

